$heading_font_weight: normal;
$heading_colour: #000000;

$heading4_font_size: 16px;
$heading5_font_size: 13px;
$heading6_font_size: 12px;

$paragraph_lead_colour: #58585a;
$strong_colour: #000000;
$blockquote_colour: #58585a;

