@import '_variables.scss';
<% if (framework == 'ribs') { %>@import 'ribs/src/scss/Ribs.scss';<% } %>
<% if (framework == 'foundation') { %>@import 'foundation/scss/foundation.scss';<% } %>

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

footer{
  .copyright{
    text-align: right;
  }
}
